[project]
	description = Automatically exported from code.google.com/p/zenfolio-api
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chirayu Patel (chirayu)
[access "refs/for/refs/*"]
	read = group user/Chirayu Patel (chirayu)
	push = group user/Chirayu Patel (chirayu)
	label-Code-Review = -2..+2 group user/Chirayu Patel (chirayu)
	label-Verified = -1..+1 group user/Chirayu Patel (chirayu)
	rebase = group user/Chirayu Patel (chirayu)
	removeReviewer = group user/Chirayu Patel (chirayu)
	submit = group user/Chirayu Patel (chirayu)
[access "refs/heads/*"]
	read = group user/Chirayu Patel (chirayu)
	create = group user/Chirayu Patel (chirayu)
	push = +force group user/Chirayu Patel (chirayu)
	pushMerge = group user/Chirayu Patel (chirayu)
[access "refs/tags/*"]
	push = +force group user/Chirayu Patel (chirayu)
	pushTag = group user/Chirayu Patel (chirayu)
	pushSignedTag = group user/Chirayu Patel (chirayu)
